{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static './components/login/style.css' %} ">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Document</title>
</head>
<body>
    <div class="login-reg-panel">
						
		<div class="register-info-box">
			<h2>Have an account?</h2>
			
			<label id="label-register" for="log-reg-show">
                 <a href="{% url 'users:login' %}" style="color:white">login now</a>

                
        </label>

		</div>		
		<div class="white-panel-reg">
			<div class="login-show">
                
				<h2>RESGISTATION FORM</h2>
				
                <!-- fix	 -->
                <form method="post" action="{% url 'users:register' %}"> 
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <button name="submit">register</button> -->
                    <input type="submit" type="button" value="Register" style="background-color: #fb8d17">
                    <input type="hidden" name="next" value="{% url 'coffee_app:index' %}" /> </form>
                <!-- fix -->
    			</div>
			
		</div>
	</div>
    <script src=" {% static './components/login/script.js' %} "></script>

</body>
</html>