{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea-Rex Cafe</title>
    <link rel="icon" href="{% static './assets/images/Logo.jpg' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static './assets/css/base.css' %} ">
    <link rel="stylesheet" href="{% static './assets/css/main.css' %} ">
    <link rel="stylesheet" href=" {% static './components2/orderhistory/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"  rel="stylesheet"/>
    <link rel="stylesheet" href=" {% static './assets/fonts/fontawesome-free-6.0.0-beta2-web/css/all.css' %} ">
    <link  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"  rel="stylesheet"/>
</head>
<body>
  {% block content %}



    <div class="app">
        <header class="header">
            <div class="container">
                <nav class="header__nav">
                    <div class="header__info">
                        <a href="{% url 'coffee_app:index' %}"class ="header__nav-logo--link">
                            <img src="{% static './assets/images/Logo.jpg' %}" alt="logo" class ="header__nav-logo" >
                        </a>
                          
                        <!-- <div class="header__nav-delibery">
                            <img src="./assets/images/Delivery2.png" alt="delibery" class = "header__delibery--logo">
                            <ul class="header__nav-delibery-list">
                                <div class="delibery__address">
                                    <li class="header__nav-delibery-item delibery__address-head">DELIBERY</li>
                                    <li class="header__nav-delibery-item">Filling the address</li>
                                </div>
                            </ul>
                        </div> -->

                        <ul class="header__nav-list ">
                            <li class="header__nav-item">
                                <a href="{% url 'coffee_app:index' %}" class="header__nav-item--link">HOME</a>
                            </li>
     
                            <li class="header__nav-item">
                                <a href="{% url 'coffee_app:order' %}" class="header__nav-item--link">ORDER</a>
                            </li>
     
                            <li class="header__nav-item"> 
                                <a href="{% url 'coffee_app:news' %}" class="header__nav-item--link">NEWS</a>
                            </li>       
     
                             <li class="header__nav-item">
                                <a href="javascript:void(0)" class="header__nav-item--link promotelink" onclick="showPromotion()">PROMOTION</a>
                             </li>
                        </ul>
                        <label for="nav-mobile-input" class="nav__bars-btn">
                          <i class="nav__bars-btn--icon fas fa-bars"></i>
                      </label>
  
                      <input type="checkbox" hidden name="" id="nav-mobile-input" class="nav-input">
  
                      <label for="nav-mobile-input" class="nav__overlay"> </label>
                      <div class="nav__mobile">
                          <label for="nav-mobile-input" class="nav__mobile-close">
                              <i class="nav__mobile-close--icon fas fa-times"></i>
                          </label>
                          <ul class="nav__mobile-list ">
                              <li class="nav__mobile-item">
                                  <a href=" {% url 'coffee_app:index' %}" class="nav__mobile-item--link">
                                      <i class="nav__mobile-icon fas fa-home"></i>
                                      HOME
                                  </a>
                              </li>
          
                              <li class="nav__mobile-item">
                                  <a href="{% url 'coffee_app:index' %}" class="nav__mobile-item--link">
                                      <i class="nav__mobile-icon fas fa-award"></i>
                                      STORE
                                  </a>
                              </li>
           
  
                              <li class="nav__mobile-item"> 
                                  <a href="{% url 'coffee_app:news' %} " class="nav__mobile-item--link">
                                      <i class="nav__mobile-icon fas fa-newspaper"></i>
                                      NEWS
                                  </a>
                              </li>  
                          
                              <li class="nav__mobile-item"> 
                                  <a href="javascript:void(0)" class="nav__mobile-item--link promotelink" onclick="showPromotion()">
                                      <i class="nav__mobile-icon fas fa-ad"></i>
                                      PROMOTION
                                  </a>
                              </li>  
                              
                              <li class="nav__mobile-item"> 
                                  <a href="{% url 'users:login' %}" class="nav__mobile-item--link">
                                      <i class="nav__mobile-icon fas fa-user"></i>
                                      LOGIN
                                  </a>
                              </li>  
                              
                              <li class="nav__mobile-item"> 
                                  <a href="{% url 'coffee_app:order' %}" class="nav__mobile-item--link">
                                      <i class="nav__mobile-icon fas fa-cart-plus"></i>
                                      ORDER CONFIRMATION
                                  </a>
                              </li>  
                          </ul>
                      </div>
                    </div>
                    
                    <ul class="header__nav-list">
                            <li class="header__nav-user"> 
                            
                                <img src="{% static './assets/images/Login.70dc3d8.png' %}" alt="login" onclick="clickLogin()" class="header__nav-login" >
                                <div class="popup-login">
                                    <img data-v-1c02541c="" onClick="closeClickLogin()" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMTUuMzg0NkwxNS4zODQ2IDBMMTYgMC42MTUzODRMMC42MTUzODQgMTZMMCAxNS4zODQ2WiIgZmlsbD0iYmxhY2siLz4KPHBhdGggZD0iTTYuNjM5NzVlLTA2IDAuNjE1Mzk1TDE1LjM4NDYgMTZMMTYgMTUuMzg0NkwwLjYxNTM5MSAxLjAzNzQ2ZS0wNUw2LjYzOTc1ZS0wNiAwLjYxNTM5NVoiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=" class="icon-close-card">
                                    <ul>
                                      <li class="fas fa-history"> Order history</li>
                                      
                                      {%if user.is_authenticated %}
                                      <li class="fas fa-sign-in-alt">   Hello, {{user.username}} </li>
                                      <a href="{% url 'users:logout' %}"><li class="fas fa-sign-in-alt"> Logout</li></a> 
                                      {%else%}
                                      <a href="{% url 'users:login' %}"><li class="fas fa-sign-in-alt"> Login</li></a> 
                                      {%endif%}
                                      <!-- ===================== -->
                                  </ul>
                                </div>
                            </li>       
     
                             <li class="header__nav-user"  class="header__nav-cart">     
                                 <a href="{% url 'coffee_app:order' %}">
                                    <img data-v-1c02541c="" src="{% static './assets/images/Carticon.373916c.png' %}" alt="cart" class="header__nav-cart" > 
                                 </a>     
                                                 
                             </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>  
    <div class="ordershistory-container ">
        <div class="container">
    <span id="horder">My order history</span>
    
    {% for order in orders %}    
    <div class="orderhistory">
        <div class="dateOrder">
          {{order.date_ordered}} 
        </div>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Size</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for item in order.orderitem_set.all %}
              <tr>
                <th class="col-5">
                    <div class="orderhistory-product">
                    <img src="/static/assets/images/{{item.item.image}}" alt="">
                    <div class="hoder-detail">
                        <span>{{item.item.name}}</span>
                        <span>{{item.item.size}}</span>
                        <span class="hoder-note">Note: {{item.note}}</span>
                    </div>
                </div>
                </th>
                <td>{{item.size}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.item.price}}</td>
                <td>{{item.get_total}}</td>
              </tr>


              {%endfor%}
            </tbody>
          </table>
          <div class="hoder-sumary">


            {% for address in order.shippingaddress_set.all %}
              <div class="hoder-shipping">
                <span>Name: {{address.fname}}</span>
                <span>Note: {{address.instructions}}</span>
                <span>Address: {{address.address}}</span>
              </div>
            {%endfor%}


              <div class="hoder-sumary--price">
                <span>Total Summary</span>
                <div class="sub-summary">
                    <span>Price: ${{order.get_cart_total_before_promotion}}</span>
                    <span>voucher: {{order.promotion.content}}</span>                    
                </div>
                <span>Total: {{order.get_cart_total}}VND</span>
              </div>
          </div>
          <div style="clear:both;"></div>
    </div>
    {% endfor %}

    {% endblock content %}

    </div>
        
       
    
    <script src=" {% static './components2/orderhistory/style.css' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
</body>
</html>